<div class="flex flex-column">
  <span class="mb-4 title-viaje" style="font-size: 40px; text-align: center;"><strong>Transacciones</strong></span>
</div>

<div class="container">
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="idTransaction">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let element"> {{element.transaccionID}} </td>
    </ng-container>

    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.clienteID}} </td>
    </ng-container>

    <ng-container matColumnDef="concessionaire">
      <th mat-header-cell *matHeaderCellDef> Concesionario </th>
      <td mat-cell *matCellDef="let element"> {{element.concesionarioID}} </td>
    </ng-container>

    <ng-container matColumnDef="modelVehicle">
      <th mat-header-cell *matHeaderCellDef> Modelo Vehículo </th>
      <td mat-cell *matCellDef="let element"> {{element.concesionarioID}} </td>
    </ng-container>

    <ng-container matColumnDef="sellDate">
      <th mat-header-cell *matHeaderCellDef> Fecha Transacción </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaVenta}} </td>
    </ng-container>

    <ng-container matColumnDef="sellPrice">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let element"> {{element.precioVenta}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> 
          <button class="agregar" mat-raised-button color="primary">Aceptar</button>    
      </th>
      <td mat-cell *matCellDef="let element"> 
          <mat-icon  matTooltip="Ver" class="search" fontIcon="search"></mat-icon> 
          <mat-icon  matTooltip="Editar" class="edit" fontIcon="edit"></mat-icon>    
          <mat-icon  matTooltip="Eliminar" class="delete" fontIcon="delete"></mat-icon>    
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>